@import "tailwindcss";


body {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;

    background-color: hsl(212, 45%, 89%);

}

